<mat-toolbar color="primary" class="mat-elevation-z1">
  <button  class="btn-toggle" mat-icon-button id="menu" (click)="navService.toggleNav()">
    <!-- <mat-icon>{{config?.toggleIcon ? config.toggleIcon : 'menu'}}</mat-icon> -->
    <div class="wrapper-menu" [ngClass]="isDrawerOpened ? 'open' : 'close'">
      <div class="line-menu half start" ></div>
      <div class="line-menu"></div>
      <div class="line-menu half end"></div>
    </div>
  </button>
  <span>{{config?.appName ? config.appName : 'Default name'}}</span>

  <span class="toolbar-spacer"></span>
  <div class="right-nav">
      <ng-container *ngIf="config?.rightMenus">
          <!-- <button mat-icon-button [matMenuTriggerFor]="x.menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <app-menu-list-item #x="menuInMenuListItemComponent" [menus]="config.rightMenus"></app-menu-list-item> -->
            <span *ngFor="let item of config?.rightMenus">
                <!-- Handle branch node buttons here -->
                <span *ngIf="item.children && item.children.length > 0">
                  <button mat-button [matMenuTriggerFor]="menu.childMenu"
                  [disabled]="item.disabled">
                  <mat-icon>{{item.iconName}}</mat-icon>
                  <span>{{item.displayName}}</span>
                  </button>
                  <app-menu-list-item #menu [menus]="item.children"></app-menu-list-item>
                </span>
                <!-- Leaf node buttons here -->
                <span *ngIf="!item.children || item.children.length === 0">
                  <button mat-button color="primary" [routerLink]="item.route">
                      <mat-icon>{{item.iconName}}</mat-icon>
                      <span>{{item.displayName}}</span>
                  </button>
                </span>
              </span>
      </ng-container>
  </div>
  
  
</mat-toolbar>
